*{
  box-sizing: border-box;
}

body{
  background-color:#B08BD7 ;
  padding: 100px;
}

.image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}

.card{
  /* display: flex;
  justify-content: center; */
  background-color: #E3E0EB;
  padding: 10px;
  margin: auto;
  width: 30%;
  text-align: center;
  
}

p{
 color: #606D72;
} 


.row{
  display: flex; /* imp*/
}

.column{
  flex: 33.3%;  /* imp*/
  padding:1px;  /* imp*/
}
.icon{
  color: #29272E;
}

button{
  background-color:#B08BD7 ;
  border: none;
  color:#E3E0EB ;
  padding: 30px 40px;
  text-align: center;
  font-size: 16px;
}